<div class="row">
<div class="span9">
{tag_postlist}
<div class="row space280"></div>
<!-- Paging -->
<div class="row">
<div class="span7">
{tag_pagination}
</div>
</div>
</div>
<div class="span3">
<h2>Search</h2>
<div class="search-box">
<a href="#" class="search-icon"><em class="icon-search"></em></a>
<input class="search" value="Search" />
</div>
<div class="row space30"></div>
<h2>Categories</h2>
{tag_blogcategorylist}
<div class="row space30"></div>
<h2>Tags</h2>
{tag_blogtagcloud}
<div class="row space30"></div>
{module_contentholder,name="_Blog - Text Widget"}
</div>
</div>
