<!-- Blog Post -->
<div>
<div class="row">
<!-- Post Icon and Date Container -->
<div class="span2">
<!-- Post Date -->
<div class="blog-date">{tag_blogpostday}</div>
<div class="blog-date blog-date-2">{tag_blogpostmonth} {tag_blogpostyear}</div>
</div>
<!-- Post Icon and Date Container End -->
<!-- Post Content Container -->
<div class="span9 post-d-info">
<!-- Post Title -->
<a href="blog-detail">
<h2>{tag_blogposttitle}</h2>
</a>
<!-- Post Info Row -->
<em class="icon-user"></em> By {tag_blogpostauthor}| With {tag_commentcount} Comments
<p>
<!-- Post Content -->
{tag_blogpostbodypreview,Text}
</p>
<!-- Read More Icon and Link -->
<a href="{tag_itemurl_nolink}"><em class="icon-search"></em> Read More</a>
<!-- Space -->
<div class="row space5"></div>
</div>
<!-- Post Content Container End -->
</div>
<hr />
</div>
<!-- Blog Post End -->
