<!DOCTYPE html><html class="not-ie" lang="en">
    <!--<![endif]-->
    <head>
    </head>
    <body>
        {module_contentholder,name="General - Head"}
        <div class="space30"></div>
        <!-- Top Space -->
        <div class="content">
        <div class="container site">
        <div class="row">
        <div class="span12">
        {module_contentholder,name="General - Page Header"}
        <div class="row">
        <div class="span12">
        <div id="breadcrumbs"></div>
        <!-- Added dynamically via scripts.js -->
        </div>
        </div>
        <div class="row space10"></div>
        {tag_pagecontent}
        </div>
        </div>
        </div>
        {module_contentholder,name="General - Page Footer"}
        <div class="space30"></div>
        <!-- Bottom Space -->
        </div>
        {module_contentholder,name="General - Scripts"}
    </body>
</html>