<!DOCTYPE html><html class="not-ie" lang="en">
    <!--<![endif]-->
    <head>
    </head>
    <body>
        {module_contentholder,name="General - Head"}
        <div class="space30"></div>
        <!-- Top Space -->
        <div class="content">
        <div class="container site">
        <div class="row">
        <div class="span12">
        {module_contentholder,name="General - Page Header"}
        <div class="row">
            <div class="span12">

                    <!-- FlexSlider -->
                    <div class="slider1 flexslider">
                        <!-- Items -->
                        <ul class="slides">
                            {module_webapps,19453,a,,,,,500,true,1}
                        </ul>
                        <!-- Items End -->
                    </div>
                    <!-- FlexSlider End -->          

            </div>
        </div>

        <div class="row space30"></div>

<div class="row">
    <div class="span12">
        <h2>Featured Services</h2>
    </div>
</div> 

<div  class="slider2 flexslider">
    <ul class="slides">
        <li>
            <div class="row">
                <table cellspacing="0" class="webapptable"><tr><td>

<div class="span3 square-1">
<div class="img-container">
<img src="/img/home/1.jpg" border="0" alt="" />

</div>
<h3>Deck? No Problem</h3>
</div>

</td><td>


<div class="span3 square-1">
<div class="img-container">
<img src="/img/home/2.jpg" border="0" alt="" />

</div>
<h3>Railings</h3>
</div>

</td><td>


<div class="span3 square-1">
<div class="img-container">
<img src="/img/home/3.jpg" border="0" alt="" />

</div>
<h3>Vinyl and Waterproofing</h3>
</div>

</td><td>
<div class="span3 square-1">
<div class="img-container">
<img src="/img/home/4.jpg" border="0" alt="" />

</div>
<h3>Woodwork</h3>
</div>

</td></tr></table> <!-- Features -->
            </div> 
        </li>
    </ul>
</div>
<div class="row space30"></div>

<div class="row">

    <div class="span6">

        {tag_pagecontent}

    </div>

    <div class="span6">
        <h2>Testimonials</h2>
    </div> 

    <div class="span6">
        <div class="slider2 flexslider">
            <ul class="slides">
                <li>
<!-- Testimonial Container -->
<div class="testimonials">
<!-- Testimonial Content -->
De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut, etina une recherche pour 'Lorem Ipsum' vous conduira vers de asolen nombreux sites qui n'en sont encore qu'à leur phase de.
<br />
<br />
<!-- Author -->
<strong>Bertocucci Feranzano</strong><br />
Assistant
</div>
<!-- Testimonial Container End -->
</li>
<li>
<!-- Testimonial Container -->
<div class="testimonials">
<!-- Testimonial Content -->
De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut, etina une recherche pour 'Lorem Ipsum' vous conduira vers de asolen nombreux sites qui n'en sont encore qu'à leur phase de.
<br />
<br />
<!-- Author -->
<strong>Dr. Kozmold</strong><br />
Producer
</div>
<!-- Testimonial Container End -->
</li>
<li>
<!-- Testimonial Container -->
<div class="testimonials">
<!-- Testimonial Content -->
De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut, etina une recherche pour 'Lorem Ipsum' vous conduira vers de asolen nombreux sites qui n'en sont encore qu'à leur phase de.
<br />
<br />
<!-- Author -->
<strong>Marco Derianti</strong><br />
Software Developer
</div>
<!-- Testimonial Container End -->
</li>
<li>
<!-- Testimonial Container -->
<div class="testimonials">
<!-- Testimonial Content -->
De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut, etina une recherche pour 'Lorem Ipsum' vous conduira vers de asolen nombreux sites qui n'en sont encore qu'à leur phase de.
<br />
<br />
<!-- Author -->
<strong>Pineapple Jack</strong><br />
Project Manager
</div>
<!-- Testimonial Container End -->
</li>

            </ul>
        </div>         
    </div>

</div>

        </div>
        </div>
        </div>
        {module_contentholder,name="General - Page Footer"}
        <div class="space30"></div>
        <!-- Bottom Space -->
        </div>
        {module_contentholder,name="General - Scripts"}
        <script>
        $(function() {
            $('nav.navbar li').first().addClass('active');
        });
        </script>
    </body>
</html>
