<!DOCTYPE html><html class="not-ie" lang="en">
    <!--<![endif]-->
    <head>
    </head>
    <body>
        {module_contentholder,name="General - Head"}
        <div class="space30"></div>
        <!-- Top Space -->
        <div class="content">
        <div class="container site">
        <div class="row">
        <div class="span12">
        {module_contentholder,name="General - Page Header"}
        <div class="row">
            <div class="span12">

                    <!-- FlexSlider -->
                    <div class="slider1 flexslider">
                        <!-- Items -->
                        <ul class="slides">
                            {module_webapps,19453,a,,,,,500,true,1}
                        </ul>
                        <!-- Items End -->
                    </div>
                    <!-- FlexSlider End -->          

            </div>
        </div>

        <div class="row space30"></div>

<div class="row">
    <div class="span12">
        <h2>Featured Services</h2>
    </div>
</div> 

<div  class="slider2 flexslider">
    <ul class="slides">
        <li>
            <div class="row">
                {module_webapps,19452,a,,,,,500,true,4} <!-- Features -->
            </div> 
        </li>
    </ul>
</div>
<div class="row space30"></div>

<div class="row">

    <div class="span6">

        {tag_pagecontent}

    </div>

    <div class="span6">
        <h2>Testimonials</h2>
    </div> 

    <div class="span6">
        <div class="slider2 flexslider">
            <ul class="slides">
                {module_webapps,19456,a,,,,,500,true,1}
            </ul>
        </div>         
    </div>

</div>

        </div>
        </div>
        </div>
        {module_contentholder,name="General - Page Footer"}
        <div class="space30"></div>
        <!-- Bottom Space -->
        </div>
        {module_contentholder,name="General - Scripts"}
        <script>
        $(function() {
            $('nav.navbar li').first().addClass('active');
        });
        </script>
    </body>
</html>
